<div class="container">
    <mat-card class="card-container">
        <mat-card-title style="text-align: center;margin:5%">
            <h2>Lista de Balances</h2>
        </mat-card-title>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="c1">
                <th mat-header-cell *matHeaderCellDef> ID</th>
                <td mat-cell *matCellDef="let element"> {{element.idBalance}} </td>
            </ng-container>

            <ng-container matColumnDef="c2">
                <th mat-header-cell *matHeaderCellDef> Mes</th>
                <td mat-cell *matCellDef="let element"> {{element.mes}} </td>
            </ng-container>

            <ng-container matColumnDef="c3">
                <th mat-header-cell *matHeaderCellDef> Año</th>
                <td mat-cell *matCellDef="let element"> {{element.anio}} </td>
            </ng-container>
            <ng-container matColumnDef="c4">
                <th mat-header-cell *matHeaderCellDef> Gasto Total</th>
                <td mat-cell *matCellDef="let element"> {{element.total_gasto}} </td>
            </ng-container>
            <ng-container matColumnDef="c5">
                <th mat-header-cell *matHeaderCellDef> Ingreso Total</th>
                <td mat-cell *matCellDef="let element"> {{element.total_ingreso}} </td>
            </ng-container>
            <ng-container matColumnDef="c6">
                <th mat-header-cell *matHeaderCellDef> Ahorro Total</th>
                <td mat-cell *matCellDef="let element"> {{element.total_ahorro}} </td>
            </ng-container>
            <ng-container matColumnDef="c7">
                <th mat-header-cell *matHeaderCellDef> Balance</th>
                <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
            </ng-container>
            <ng-container matColumnDef="cF">
                <th mat-header-cell *matHeaderCellDef> Usuario</th>
                <td mat-cell *matCellDef="let element"> {{element.usuario.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="c8">
                <th mat-header-cell *matHeaderCellDef> Actualizar </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" [routerLink]="['edits', element.idBalance]">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="c9">
                <th mat-header-cell *matHeaderCellDef>Eliminar</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="warn" (click)="eliminar(element.idBalance)">
                        <mat-icon>delete</mat-icon></button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card>
</div>