.container {
    width: 90%;
    margin: 40px auto;
}

.card-container {
    padding: 25px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 14px;
}

.title-center {
    text-align: center;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
}

.custom-field {
    width: 260px; 
}

.btn-buscar {
    background-color: #ff7f32 !important;
    color: white !important;
    padding: 10px 9px !important;  
    border-radius: 6px !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold
}


.mensaje {
    color: #d9534f;
    margin-top: 10px;
}
