.container {
    width: 90%;
    margin: 40px auto;
}

.card-container {
    padding: 25px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 14px;
}

.title-center {
    text-align: center;
    margin-bottom: 20px;
}

.custom-field {
    width: 260px; 
}