<div class="container">
  <mat-card class="card-container">
    <mat-card-title class="title-center">
      <h2>Reporte por Fecha</h2>
    </mat-card-title>

    <!-- FormGroup agregado -->
    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="custom-field">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechabusqueda">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>

    <div *ngIf="mensaje" style="color: red;">{{ mensaje }}</div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="idOperacion">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let op">{{ op.idOperacion }}</td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let op">{{ op.usuario.nombre }}</td>
      </ng-container>

      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef>Categoría</th>
        <td mat-cell *matCellDef="let op">{{ op.categoria }}</td>
      </ng-container>

      <ng-container matColumnDef="montoOperacion">
        <th mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell *matCellDef="let op">{{ op.monto }}</td>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let op">{{ op.fecha | date:'yyyy-MM-dd' }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>
