.container {
    width: 90%;
    margin: 40px auto;
}

.card-container {
    padding: 25px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 14px;
}

.form-container {
    display: flex;
    gap: 12px;
    justify-content: flex-start; 
    align-items: center;
    margin-bottom: 15px;
}

.small-field {
    width: 220px; 
}

.btn-buscar {
    background-color: #ff8343;
    color: white;
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 6px;
}

.mensaje {
    color: #d9534f;
    margin-bottom: 12px;
}
