<div class="container">
    <mat-card class="card-container">

        <mat-card-title style="text-align: center; margin-bottom: 20px">
            <h2>Buscar recursos por fecha</h2>
        </mat-card-title>

        <!-- FORMULARIO CON FORM GROUP -->
        <form [formGroup]="form" class="form-container">

            <mat-form-field appearance="outline" class="small-field">
                <mat-label>Fecha de Publicación</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <button mat-raised-button color="primary" class="btn-buscar" (click)="buscar()">
                <b>Buscar</b>
            </button>

        </form>

        <p class="mensaje">{{ mensaje }}</p>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef>Título</th>
                <td mat-cell *matCellDef="let r">{{ r.titulo }}</td>
            </ng-container>

            <ng-container matColumnDef="autor">
                <th mat-header-cell *matHeaderCellDef>Autor</th>
                <td mat-cell *matCellDef="let r">{{ r.autor }}</td>
            </ng-container>

            <ng-container matColumnDef="fechapublicacion">
                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                <td mat-cell *matCellDef="let r">{{ r.fechapublicacion | date:'dd/MM/yyyy' }}</td>
            </ng-container>

            <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef>Tipo</th>
                <td mat-cell *matCellDef="let r">{{ r.tipo }}</td>
            </ng-container>

            <ng-container matColumnDef="fuente">
                <th mat-header-cell *matHeaderCellDef>Fuente</th>
                <td mat-cell *matCellDef="let r">{{ r.fuente }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        </table>

    </mat-card>
</div>
