
.container h2 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 40px;  
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
}

mat-form-field {
    width: 90%;
}

.botones {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

button[mat-raised-button] {
    background-color: #FF8343;
    color: white;
    border: none;
    padding: 0.6rem 0;
    font-size: 1.1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 30%;               
    display: block;
    margin: 0 auto;           
}

button[mat-raised-button]:hover {
    background-color: #ff6b1f;
}
.insert-card {
    max-width: 700px;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}