<div class="container">
  <mat-card class="insert-card">
    <mat-card-content>
      <div class="form-container mat-elevation-z8">
        <mat-card-title style="text-align: center; margin: 5%">
          <h2>{{ edicion ? 'Editar Operación' : 'Registrar Operación' }}</h2>
        </mat-card-title>
        <form [formGroup]="form" (ngSubmit)="aceptar()">
          @if(edicion){
          <mat-form-field>
            <mat-label>ID</mat-label> <input matInput formControlName="idOperacion" />
          </mat-form-field>
          }
          <div class="form-grid">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Categoría</mat-label>
              <mat-select formControlName="categoria">
                <mat-option value="">Selecciona una categoría</mat-option>
                <mat-option *ngFor="let c of categorias" [value]="c"> {{ c }} </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Tipo</mat-label>
              <mat-select formControlName="tipo">
                <mat-option value="">Selecciona tipo</mat-option>
                <mat-option *ngFor="let t of tipos" [value]="t"> {{ t }} </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Monto</mat-label> <input matInput type="number" formControlName="monto" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Detalle</mat-label>
              <textarea matInput formControlName="detalle"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Fecha</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fecha" [min]="minFecha" />
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="button-container">
            <button mat-raised-button color="primary" class="action-btn" type="submit">
              {{ edicion ? 'Actualizar' : 'Registrar' }}
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
