
mat-form-field {
    width: 90%; 
    margin-bottom: 15px;
}
.container h2 {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
}
button[mat-raised-button] {
    background-color: #FF8343;
    color: white;
    border: none;
    padding: 0.6rem 0;
    font-size: 1.1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 90%;               
    display: block;
    margin: 0 auto;           
}

button[mat-raised-button]:hover {
    background-color: #e97436;
}

.insert-card {
    max-width: 400px;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.form-column {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}
