mat-form-field {
    width: 50%;
}

button[mat-raised-button] {
background-color:rgb(251, 140, 0);
color: white;
border: none;
padding: 0.5rem 5rem;
font-size: 1.1rem;
border-radius: 0.375rem;  
cursor: pointer;
transition: background-color 0.3s ease;
width: 20%;  
}

.login-card{
  max-width: 400px;
   margin: 120px auto; 
   padding: 20px; 
   text-align: center;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  
}

.navbar ul li a {
    text-decoration: none !important;
}
.custom-field {
  width: 100%;
}
.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.page-background {
 min-height: 100vh;
  padding-top: 8rem;
  background: linear-gradient(rgba(16,16,16,0.6), rgba(16,16,16,0.6)),
  url('/assets/img/fondo_landing.jpg') center/cover no-repeat fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}


.example-full-width{
  width: 100%;
}


/* ========================= */
/* HEADER */
/* ========================= */

header {
  width: 100%;
  height: 70px;
  background: #2B3D49;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo img {
  width: 55px;
}

header .navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

header .navbar ul li a {
  color: #fff;
  font-size: 1.4rem;
  transition: .23s;
  padding: 20 2rem;
  margin-right: 20px;
}

header .navbar ul li a:hover {
  color: #FF8343;
}

header .fa-bars {
  font-size: 3rem;
  color: #FF8343;
  display: none;
}