mat-form-field {
    width: 50%;
}

.rusuario-card {
    max-width: 400px;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

}

button[mat-raised-button] {
background-color:#FF8343;
color: white;
border: none;
padding: 0.5rem 5rem;
font-size: 1.1rem;
border-radius: 0.375rem;  
cursor: pointer;
transition: background-color 0.3s ease;
width: 20%;  
}


