
.container {
  width: 90%;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.container h2 {
  font-size: 35px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 20px;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th.mat-header-cell {
  background: #1976d2;      
  color: white;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  padding: 12px 10px;
}


td.mat-cell {
  text-align: center;
  padding: 12px 10px;
  font-size: 14px;
}

tr.mat-row:hover {
  background: #f1f5f8;
  transition: 0.2s ease-in-out;
}

td.mat-cell, th.mat-header-cell {
  border-bottom: 1px solid #e2e2e2;
}

td.mat-cell {
  padding: 10px;
}

button[mat-icon-button] {
  background-color: #ff8343;
  color: white;
  border-radius: 6px;
  transition: 0.25s ease;
}

button[mat-icon-button]:hover {
  background-color: #ff8343;
}