.title-container {
  padding: 10px;
  margin: 40px auto;
  max-width: 900px;
  padding: 30px 40px;
  border-radius: 25px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.10);
  background: #ffffff;
  text-align: center;
  
}

/* Título */
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.title h2 {
  font-size: 28px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 25px;
}

/* Contenedor del gráfico */
.chart-container {
  width: 100%;
  position: relative;
}

canvas {
  max-width: 100%;
  height: 300% !important;
}

/* Estilos cuando no hay datos */
.no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  color: #6c6c6c;
}

.no-data-icon {
  font-size: 48px;
  color: #ff8343;
  margin-bottom: 10px;
}

.no-data-message {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}

/* Responsive */
@media (max-width: 600px) {
  .chart-container {
    height: 250px;
  }

  .title h2 {
    font-size: 18px;
  }
}
