
mat-form-field {
    width: 100%; 
    margin-bottom: 15px;
}

button[mat-raised-button] {
    background-color: #FF8343;
    color: white;
    border: none;
    padding: 0.6rem 0;
    font-size: 1.1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;               
    display: block;
    margin: 0 auto;           
}

button[mat-raised-button]:hover {
    background-color: #e97436;
}

.insert-card {
    max-width: 400px;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}