
.card-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 16px;
}

.full-width {
    width: 100%;
}

.btn-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.chart-container {
    width: 500px;
    /* Ajusta el ancho del gráfico */
    margin: 0 auto;
}

.chart-container canvas {
    max-width: 100% !important;
    max-height: 330px !important;
    /* Reduce la altura */
    /* Escala más pequeño */
} 
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}

/* Card principal */
.buscar-card {
    width: 800px;
    padding: 25px;
    border-radius: 18px;
    position: relative;
    background: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
    text-align: center;
    margin-top: 20px;
}

/* Card desenfocado detrás */
.buscar-card::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    background: linear-gradient(135deg, #cce4ff, #f0f6ff);
    filter: blur(12px) brightness(1.3);
    z-index: -1;
    transform: scale(0.93);
    /* SE VE MÁS PEQUEÑO */
    opacity: 0.55;
}

/* Título */
mat-card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
}

/* Sección del formulario */
.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

/* Mensaje de alerta */
.mensaje {
    margin-top: 10px;
    font-weight: bold;
    color: #c62828;
}

/* Estilo de la tabla */
table {
    margin-top: 25px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background: #003366;
    color: white;
    font-weight: bold;
}

td {
    background: #fafafa;
}

tr.mat-row:hover td {
    background: #e6f0ff;
    transition: 0.2s;
}

.btn-buscar{
width: 20%;
    background: #ff8343;
    color: white;
    padding: 12px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    transition: 0.3s;
}
.btn-limpiar{
    width: 20%;
    background: #ff8343;
    color: white;
    padding: 12px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    transition: 0.3s;
}