<div class="container">
  <mat-card class="card-form">
    <mat-card-content>

      <mat-card-title style="text-align:center;">
        <h2>{{ edicion ? 'Editar Ahorro' : 'Registrar Ahorro' }}</h2>
      </mat-card-title>

      <form [formGroup]="form" (ngSubmit)="aceptar()">

        <!-- ID SOLO EN EDICIÓN -->
        @if(edicion){
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>ID</mat-label>
            <input matInput formControlName="idAhorro" readonly />
          </mat-form-field>
        }

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Objetivo</mat-label>
          <input matInput formControlName="objetivo" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Monto</mat-label>
          <input matInput type="number" formControlName="monto_actual" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Fecha Inicio</mat-label>
          <input matInput [matDatepicker]="p1" formControlName="fecha_inicio" />
          <mat-datepicker-toggle matIconSuffix [for]="p1"></mat-datepicker-toggle>
          <mat-datepicker #p1></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Fecha Límite</mat-label>
          <input matInput [matDatepicker]="p2" formControlName="fecha_limite" />
          <mat-datepicker-toggle matIconSuffix [for]="p2"></mat-datepicker-toggle>
          <mat-datepicker #p2></mat-datepicker>
        </mat-form-field>

        <!-- SELECT SOLO PARA ADMIN -->
        @if(esAdmin()){
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Usuario</mat-label>
            <mat-select formControlName="fk">
              <mat-option *ngFor="let u of listaUsuarios" [value]="u.idUsuario">
                {{ u.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        }

        <div class="button-container">
          <button mat-raised-button color="primary">
            {{ edicion ? 'Actualizar' : 'Registrar' }}
          </button>
        </div>

      </form>

    </mat-card-content>
  </mat-card>
</div>
